{% load i18n admin_urls static admin_modify cmf_admin_tags %}
<div class="js-inline-admin-formset inline-group" id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-type="tabular" data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
    <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
        {{ inline_admin_formset.formset.management_form }}
        {% if inline_admin_formset.is_collapsible %}
            <div class="accordion accordion-tabs accordion-inverted">
        {% endif %}
        {# @formatter:off #}
        <fieldset class="card mb-3{{ inline_admin_formset.classes|cut:"collapse" }}{% if inline_admin_formset.is_collapsible %} accordion-item{% endif %}" aria-labelledby="{{ inline_admin_formset.formset.prefix }}-heading">
            {# @formatter:on #}
            <div class="card-header">
                <div id="{{ inline_admin_formset.formset.prefix }}-heading" class="card-title">
                    {% if inline_admin_formset.is_collapsible %}
                        <button class="accordion-button  collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#tabular">
                            {% if inline_admin_formset.formset.max_num == 1 %}
                                {{ inline_admin_formset.opts.verbose_name|capfirst }}
                            {% else %}
                                {{ inline_admin_formset.opts.verbose_name_plural|capfirst }}
                            {% endif %}
                            <div class="accordion-button-toggle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                                    <path d="M6 9l6 6l6 -6"></path>
                                </svg>
                            </div>
                        </button>
                    {% else %}
                        {% if inline_admin_formset.formset.max_num == 1 %}
                            {{ inline_admin_formset.opts.verbose_name|capfirst }}
                        {% else %}
                            {{ inline_admin_formset.opts.verbose_name_plural|capfirst }}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="table-responsive{% if inline_admin_formset.is_collapsible %} accordion-collapse collapse{% endif %}"
                 id="tabular">
                {% alert inline_admin_formset.formset.non_form_errors %}
                <table class="table table-vcenter card-table">
                    <thead>
                    <tr>
                        {% for field in inline_admin_formset.fields %}
                            {# @formatter:off #}
                            <th class="column-{{ field.name }}{% if field.required %} required{% endif %}{% if field.widget.is_hidden %} d-none{% endif %}">
                                {{ field.label|capfirst }}
                                {# @formatter:on #}
                                {% if field.help_text %}
                                    <span title="{{ field.help_text|striptags }}" data-bs-toggle="tooltip">
                                        {% icon 'tabler-help' 'icon icon-sm' %}
                                    </span>
                                {% endif %}
                            </th>
                        {% endfor %}
                        <th>
                            {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission %}
                                {% translate "Delete?" %}
                            {% endif %}
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for inline_admin_form in inline_admin_formset %}
                        {% if inline_admin_form.form.non_field_errors %}
                            <tr class="row-form-errors">
                                <td colspan="{{ inline_admin_form|cell_count }}">
                                    {% alert inline_admin_form.form.non_field_errors extra_class='mb-0' %}
                                </td>
                            </tr>
                        {% endif %}
                        <tr class="form-row {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last and inline_admin_formset.has_add_permission %} empty-form{% endif %}"
                            id="{{ inline_admin_formset.formset.prefix }}-{% if forloop.last and inline_admin_formset.has_add_permission %}empty{% else %}{{ forloop.counter0 }}{% endif %}">
                            {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                            {% if inline_admin_form.fk_field %}{{ inline_admin_form.fk_field.field }}{% endif %}
                            {% for fieldset in inline_admin_form %}
                                {% for line in fieldset %}
                                    {% for field in line %}
                                        <td class="{% if field.field.name %}field-{{ field.field.name }}{% endif %}{% if field.field.is_hidden %} hidden{% endif %}">
                                            {% if field.is_readonly %}
                                                <span class="form-control-plaintext">{{ field.contents }}</span>
                                            {% elif field.field.errors %}
                                                {{ field.field|add_class:'is-invalid' }}
                                                <div class="invalid-feedback">{{ field.field.errors }}</div>
                                            {% else %}
                                                {{ field.field }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                            <td class="delete">
                                {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission and inline_admin_form.original %}
                                    {{ inline_admin_form.deletion_field.field|add_class:'form-check-input' }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>
        {% if inline_admin_formset.is_collapsible %}</div>{% endif %}
    </div>
</div>
