{% extends "admin/change_form.html" %}
{% load i18n admin_modify static cmf_tags content_tags %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'content/css/article.css' %}">
{% endblock %}

{% block field_sets %}
    <div class="row">
        <div class="col-md-9">
            <div class="card mb-3">{% ribbon original.status %}
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="translation-tab-nav" data-bs-toggle="tabs" role="tablist">
                        <li class="nav-item" id="translation-add-tab">
                            <a class="nav-link text-success btn" id="translation-add-btn">
                                {% icon 'tabler-plus' 'icon icon-sm' %}{% translate 'Add translation' %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    {% for inline_admin_formset in inline_admin_formsets %}
                        {% include inline_admin_formset.opts.template %}
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="col-md-3">
            {% for fieldset in adminform %}
                {% include "admin/includes/fieldset.html" with heading_level=2 prefix="fieldset" id_prefix=0 id_suffix=forloop.counter0 %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block after_field_sets %}{{ adminform.form.non_field_errors }}{% endblock %}
{% block inline_field_sets %}{% endblock %}

{% block submit_buttons_bottom %}
    {% include 'content/submit_line.html' %}
{% endblock %}

{% block scripts %}{{ block.super }}
    <script src="{% static 'content/js/translation_inline.js' %}"></script>
{% endblock %}